

.black{color: black;}
.grey{color: rgb(91, 103, 117);}
.pop{display: flex;
gap: 20px;}
.pop>a,.pop>.list>a{text-decoration: none;}
.pop>a>li,.pop>.list>a>li{list-style: none;}
.log>a>img{width: 100%; height: 82px;}
.log{display: flex;
justify-content: space-between;
align-items: center;
margin: 0 150px;}
main{margin-top: 120px;}
.list{display: flex; gap: 20px;}
.ora{color: orangered;}
.bol{font-size: x-large;
font-weight: 600;}
.first{width: 1140;
height: 461; margin: 0 150px;
display: flex; 
flex-wrap: wrap;
align-items: end;} .im>img{width: 100%;}
.int{text-align: center;
margin-top: 120px;}
.btn>a{text-decoration: none; color: aliceblue;}
.btn{background-color: #E95A08;
 width: 270px; height: 40px; border: none;}
.pro{max-width: 100%;
text-align: center; margin-bottom: 20px;}
.card{display: grid;
grid-template-columns: repeat(4 , 2fr); margin-top: 50px;}
.img-1{position: relative;
width: 540px; height: 597px; margin-left: 100px}
.back{width: 100%;
height: 100%; display: block;}
.ban{position: absolute; top: 0; right: 0; width: 286px; height: 286px;}
.pos{display: flex;
flex-wrap: wrap; ; gap: 30px;} .pra{
width: 540px; height: 520px;}




@media only screen and (max-width: 570px){ 
    .list{visibility: hidden;}
    .log{margin: 16px 16px 16px 16px;
    justify-content: space-between;
 align-items: center;}
    .first{flex-wrap: wrap-reverse ; margin: 16px;
    } .im>img,.all,.log{width: 100%;} 
    .card{display: grid;
    grid-template-columns: repeat(2 , 2fr); gap: 10px;} .pro,.pra{text-align: center; margin-left: auto;} .pos{flex-direction: column;} .img-1{margin-left: 0;}
    .ban{visibility: hidden;}
}