
.ali{align-items: center;}
.black{color: black;}
.grey{color: rgb(91, 103, 117);}
.pop{display: flex;
gap: 20px;}
.pop>a,.pop>.list>a{text-decoration: none;}
.pop>a>li,.pop>.list>a>li{list-style: none;}
.log>a>img{width: 100%; height: 82px;}
.log{display: flex;
justify-content: space-between;
align-items: center;
margin: 0 150px;}
main{margin-top: 120px;}
.list{display: flex; gap: 20px;}
.ora{color: orangered;}
.bol{font-size: x-large;
font-weight: 600;}
.first{width: 1140;
height: 461; margin: 0 150px;
display: flex; 
flex-wrap: wrap;
align-items: end;} .im>img{width: 100%;}
.int{text-align: center;
margin-top: 120px;}
.btn>a{text-decoration: none; color: aliceblue;}
.btn{background-color: #E95A08;
 width: 270px; height: 40px; border: none;}
.pro{max-width: 100%;
text-align: center; margin-bottom: 20px;}
.card{display: grid;
grid-template-columns: repeat(4 , 2fr); margin-top: 50px;}
.img-1{position: relative;
width: 540px; height: 597px; margin-left: 100px}
.back{width: 100%;
height: 100%; display: block;}
.ban{position: absolute; top: 0; right: 0; width: 286px; height: 286px;}
.pos{display: flex;
flex-wrap: wrap; ; gap: 30px;} .pra{
width: 540px; height: 520px;}
.pg{margin-top: 100px;
margin-bottom: 100px;}
.pn-1{background-image: url('assets/deal-bloom.png'); width: 367px; height: 206px; text-align: center;  color: aliceblue; border-radius: 15px;} .pn-1>.bol{padding-top: 54px;} .pn-1>p>a{color: aliceblue;}
.pn-2{background-image: url('assets/deal-ana.png'); width: 367px; height: 197px; text-align: center;  color: aliceblue; border-radius: 15px;} .pn-2>.bol{padding-top: 55px;} .pn-2>a{color: aliceblue;}
.pn-3{max-width: 100; background-image: url('assets/deal-zabo.png'); text-align: center;  color: aliceblue; border-radius: 15px; grid-row: 1 / span 2; } .pn-3>.bol{padding-top: 130px;} .pn-3>a{color: aliceblue;}
.pn{display: grid;
grid-template-columns: repeat(2 , 2fr); gap: 15px; margin-left: 140px;}
.for{max-width: 100%; height: 533px;
background-image: url('assets/news-letter-bg.png'); color: white;
 text-align: center; align-items: center;}
.for>p{font-size: xx-large; font-weight: 800px; padding-top: 200px;}
.search{gap: 0;}
.email{border: none; width: 646px; height: 50px;}
.btn-3{width: 186px; height: 50px;
border: none; color: aliceblue; background-color: #E95A08;}
.fot-1{padding-left: 160px;}
.fot2>a{text-decoration: none; color: rgb(91, 103, 117);} .fot2{display: flex; flex-direction: column;}
.fot-2{display: grid;
grid-template-columns: repeat(2 , 200px); gap: 50px;}
.fot-3>a>img{align-items: center; gap: 10px;}
.fot{display: flex;  text-align: center; padding-top: 50px;}





@media only screen and (max-width: 570px){ 
    .list{visibility: hidden;}
    .log{margin: 16px 16px 16px 16px;
    justify-content: space-between;
 align-items: center;}
    .first{flex-wrap: wrap-reverse ; margin: 16px;
    } .im>img,.all,.log{width: 100%;} 
    .card{display: grid;
    grid-template-columns: repeat(2 , 2fr); gap: 10px;} .pro,.pra,.pg>.bol,.grey{text-align: center; margin-left: auto;} .pos{flex-direction: column;} .img-1{margin-left: 0;}
    .ban{visibility: hidden;}
    .pn{display: grid; grid-template-columns: repeat(1 , 1fr); margin-left: 10px;} .pn-2{border-radius: 0;} .pn-3>.bol{padding-top: 40px;} .email{width: 218px;} .btn-3{width: 103px;} .for{width: 100%; height: 275px; margin-right: 0;} .for>p{padding-top: 70px;} .fot-2{display: flex; flex-direction: column; gap: 0;}
.fot{flex-direction: column;}
.fot-1{padding-left: 0;}
}